<div id="skills"
     class="content-section-container flex flex-col items-center min-h-[20rem]"
     style="grid-row: <%- rowPos %>;">
    <h1 class="text-4xl">
        Skills
    </h1>
    <div class="skill-table mt-5">
        <% Object.keys(skillGroups).forEach(function(skillGroupName){ %>
            <% var skills = skillGroups[skillGroupName]; %>

            <div><%- skillGroupName %></div>
            <div class="flex flex-row flex-wrap items-center justify-left">
                <% skills.forEach(function (skill){ %>
                    <div>
                        <div class="skill-thumbnail-box"
                             style="--img-url: url('<%= skill.img_src %>');"></div>

                        <template class="skill-tip-content">
                            <%- skill.tooltip_text %>
                        </template>
                        <a class="skill-link"
                           href="<%- skill.click_url %>"
                           target="_blank" ></a>
                        <script>
                            ((scriptTagElement) => {
                                const currentContainer = $(scriptTagElement).parent();
                                const element = currentContainer.find(".skill-thumbnail-box").get(0);

                                tippy(element, {
                                    content: currentContainer.find(".skill-tip-content").html(),
                                });

                                let goToLink = () => {
                                    currentContainer.find(".skill-link").get(0).click();
                                }
                                addOnHoldEvent(element, goToLink,  (e) => {
                                    element.dispatchEvent(new Event("mouseenter"));
                                });
                                $(element).on('pointerup', (e) => {
                                    if (e.pointerType !== "mouse")
                                        return;
                                    goToLink();
                                });
                            })(document.currentScript);
                        </script>
                    </div>
                <% }) %>
            </div>
        <% }) %>
    </div>
</div>