<div id="skills" class="flex flex-col items-center mt-20 min-h-[20rem]">
    <h1 class="text-4xl">
        Skills
    </h1>
    <div class="skill-table mt-5">
        <% Object.keys(skillGroups).forEach(function(skillGroupName){ %>
            <% var skills = skillGroups[skillGroupName]; %>

            <div><%- skillGroupName %></div>
            <div class="flex flex-row flex-wrap items-center justify-left">
                <% skills.forEach(function (skill){ %>
                    <div class="skill-thumbnail-box" id="skill-<%- skill.id %>"
                         style="--img-url: url('<%= skill.img_src %>');"></div>

                    <template id="skill-tip-content-<%- skill.id %>">
                        <%- skill.tooltip_text %>
                    </template>
                    <a id="skill-a-<%- skill.id %>"
                       href="<%- skill.click_url %>"
                       target="_blank" ></a>
                    <script>
                        (() => {
                            let skillId = <%- skill.id %>;
                            let elementSelector = "#skill-" + skillId;
                            const tip = tippy(elementSelector, {
                                content: $("#skill-tip-content-" + skillId).html(),
                            });

                            let goToLink = () => {
                                document.getElementById("skill-a-" + skillId).click();
                                console.log("Click", "skill-a-" + skillId);
                            }
                            addOnHoldEvent($(elementSelector), goToLink,  (e) => {
                                $(elementSelector)[0].dispatchEvent(new Event("mouseenter"));
                            });
                            $(elementSelector).on('pointerup', (e) => {
                                if (e.pointerType !== "mouse")
                                    return;
                                goToLink();
                            });
                        })();
                    </script>
                <% }) %>
            </div>
        <% }) %>
    </div>
</div>