<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <script>
        document.documentElement.classList.remove("no-js");
        document.documentElement.classList.add("js");
    </script>

    <link rel="icon" type="image/png" href="/img/icon.png" />
    <meta charset="UTF-8">
    <title>Immanuel</title>

    <%- include("sections/0-dependencies.ejs"); %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="hidden-on-js-loaded p-5 text-center">
    Hello! <br>
    I think your browser disabled javascript.
    Please enable it for the best experience 😁
</div>

    <div id="main-stack-layout"
         class="stack full-height">

        <% var gridRowPosition = 1; %>
        <%- include("sections/1-typing-animation-welcome-section.ejs", {rowPos: gridRowPosition++}); %>
        <%- include("sections/2-about-me-section.ejs", {rowPos: gridRowPosition++}); %>
        <%- include("sections/3-experiences-section.ejs", {experienceGroups: experienceGroups, rowPos: gridRowPosition++}); %>
        <%- include("sections/4-skills-section.ejs", {skillGroups: skillGroups, rowPos: gridRowPosition++}); %>
        <%- include("sections/5-my-contacts-section.ejs", {myContacts: myContacts, rowPos: gridRowPosition++}); %>

        <%# giving per-section colors %>
        <% for (var i=0; i < colorsForEachSection.length; i++){ %>
            <% var colorMain = colorsForEachSection[i]; %>
            <% var colorStart = (i-1 < 0)? colorMain : colorsForEachSection[i-1]; %>
            <% var colorEnd = (i+1 >= colorsForEachSection.length)? colorMain : colorsForEachSection[i+1]; %>

            <% var colorStartPosition     = - gradientSpreadPercentage; %>
            <% var colorMainUpperPosition = + gradientSpreadPercentage; %>
            <% var colorMainLowerPosition = 100 - gradientSpreadPercentage; %>
            <% var colorEndLowerPosition  = 100 + gradientSpreadPercentage; %>

            <div class="section-gradient-effect col-start-1"
                 style="grid-row: <%- i+1 %>;
                        background: linear-gradient(180deg,
                         <%-colorStart%> <%-colorStartPosition%>%,
                         <%-colorMain%> <%-colorMainUpperPosition%>%,
                         <%-colorMain%> <%-colorMainLowerPosition%>%,
                         <%-colorEnd%> <%-colorEndLowerPosition%>%
                         );
                        ">
            </div>
        <% } %>

        <svg class="star-effect-svg scene">
        </svg>


        <template id="four-point-star">
            <g class="outer">
                <g class="inner star_container">
                    <path class="four-point-star-path"></path>
                </g>
            </g>
        </template>
        <template id="normal-star">
            <g class="outer">
                <g class="inner star_container">
                    <circle class="normal-star-path"></circle>
                </g>
            </g>
        </template>
    </div>

    <%- include("sections/used-templates/toast-template.ejs"); %>
    <%- include("sections/used-templates/modal-template.ejs"); %>

</body>
</html>