<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <script>
        document.documentElement.classList.remove("no-js");
        document.documentElement.classList.add("js");
    </script>

    <meta charset="UTF-8">
    <title>Title</title>

    <%- include("sections/0-dependencies.ejs"); %>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="hidden-on-js-loaded p-5 text-center">
    Hello! <br>
    I think your browser disabled javascript.
    Please enable it for the best experience 😁
</div>

    <div id="main-stack-layout"
         class="stack full-height">

        <svg class="star_effect_svg scene stacked">
        </svg>
        <template id="four-point-star">
            <g class="outer">
                <g class="inner star_container">
                    <path class="four-point-star-path"></path>
                </g>
            </g>
        </template>
        <template id="normal-star">
            <g class="outer">
                <g class="inner star_container">
                    <circle class="normal-star-path"></circle>
                </g>
            </g>
        </template>


        <div class="content stacked p-0" style="z-index: 10; color: white;">
            <div class="content-center">
                <%- include("sections/1-typing-animation-welcome-section.ejs"); %>
                <%- include("sections/2-about-me-section.ejs"); %>
                <%- include("sections/3-experiences-section.ejs", {experienceGroups: experienceGroups}); %>
                <%- include("sections/4-skills-template.ejs", {skillGroups: skillGroups}); %>
                <%- include("sections/5-my-contacts-section.ejs", {myContacts: myContacts}); %>

            </div>
        </div>
    </div>

</body>
</html>