<%
    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);

        // The maximum is exclusive and the minimum is inclusive
        return Math.floor(Math.random() * (max - min) + min);
    }
%>

<div class="experiences-container">
    <% experiences.forEach(function(experience){ %>

        <% var id = getRandomInt(1, 1000_000); %>
        <div class="experience-div" id="experience-<%-id%>">
            <div class="title-photo-and-details-container">
                <div>
                    <div class="thumbnail-box"
                         style="--img-url: url('<%= experience.img_src %>');">
                    </div>
                </div>
                <div class="title-and-details-container">
                    <h3 class="title"><%= experience.title %></h3>
                    <p class="detail">
                        <%- experience.detail %>
                    </p>
                </div>
            </div>
            <div class="more-details-btn noselect">
                More Details
            </div>


            <template id="experience-modal-<%-id%>">
                <%- experience.modalOnClick.toString() %>
            </template>

            <script>
                $(document).ready(() => {
                    const urlHashId = "experience-<%- experience.getUrlHashId() %>"
                    const onBtnClick = () => {
                        showModal("<%= experience.modalOnClick.title %>", [
                            $("#experience-modal-<%-id%>").prop('content').cloneNode(true)
                        ], [], null, urlHashId);
                    };

                    $("#experience-<%-id%>").find(".more-details-btn").click(onBtnClick);

                    if (urlHashId === getUrlHashValue())
                        onBtnClick();

                    <%# Automatically open modal dialog box on page-load if debugMode activated %>
                    <% if (experience.modalOnClick.debugMode){ %>
                        onBtnClick();
                    <% } %>
                });
            </script>
        </div>

    <% }) %>
</div>